.container {
  display: flex;
  flex-direction: column;

}

.main {
  width: 75%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.main ul {
  list-style: none;
  font-size: 100pt;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
}

.main ul li {
  height: 200px;
  width: 200px;
  border: 10px dashed teal;
  cursor: pointer;
  user-select: none;
  /* transition: .2s; */
}

.main ul li:hover {
  border: 10px dashed tomato;
  animation: wiggle .5s infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}