.container {
  display: flex;
  flex-direction: column;

}

.main {
  width: 75%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.main ul {
  list-style: none;
  font-size: 100pt;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
}

.main ul li {
  border: 10px dashed teal;
  cursor: pointer;
  user-select: none;
  /* transition: .2s; */
}

.main ul li:hover {
  border: 10px dashed tomato;
  transform: rotate(5deg);
  animation: wiggle .2s infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  75%{
    transform: rotate(-3deg);
  }
  100%{
    transform: rotate(0deg);
  }
}